.recordingWrapper{
    width: 100%;
    height: 100%;
    max-height: 692px;
    font-family: lato;
    display: flex;
}

.headerWrapper{
    display: flex;
    flex:1;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    background-color: #E5EFFF;
    align-items: center;
}

.topics{
    display: flex;
    gap: 40px;
}

.topic{
    display: flex;
    justify-content: center;
    width: 200px;
    height: max-content;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.topic p{
    margin: 12px;
}

.date{
    font-weight: 600;
}


.playerWrapper{
    display: flex;
    flex-direction: column;
    flex: 3;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.playerWrapper2{
    display: flex;
    flex-direction: column;
    flex: 3;
    padding-left: 100px;
    padding-right: 80px;
    padding-top: 20px;
}

.transcriptApp{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.Player2{
    width: 100%;
    height: 100%;
    max-width: 732;
    max-height: 700px;
    flex-direction: column;
}

.image img{
    width: 100%;
    height: 100%;
}

.twoicons{
    display: flex;
    gap: 2px;
    position: absolute;
    left: 800px;
    top: 772px;
}

.first{
    width:50px;
    height: 25px;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: #FFFFFF;
    border: 2px solid #E5EFFF;
    cursor: pointer;
}
.second{
    width:50px;
    height: 25px;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #FFFFFF;
    border: 2px solid #E5EFFF;
    cursor: pointer;
}
.recording{
    width: 100%;
    height: 110px;
    max-width: 980px;
    display: flex;
    background-color:  #333333;
    border-radius: 40px;
    justify-content: space-around;
    position: relative;
    margin-left: 220px;
}

.part1{
    display: flex;
    flex: 2;
    align-items: center;
    margin-left: 5px;
    gap: 10px;
    color: white;
}

.divider{
    width: 1px;
    height: auto;
    background-color: rgb(201, 198, 198);
}

.part2{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.upper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    height: 25px;
    border-radius: 15px;
    border: none;
    background-color: #E5EFFF;
    box-shadow: inset 0px 1px 5px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.lower{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: 30px; */
    color: white;
}

.controllers{
    display: flex;
    gap: 20px;
    align-items: center;
}

.length{
    width: 400px;
    height: 5px;
    background-color: rgb(201, 198, 198);
    cursor: pointer;
    position: relative;
}

.part3{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
    /* position: relative; */
}

.previous,.next,.play{
    cursor: pointer;
}

.speed{
    display: flex;
    width: 40px;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 15px;
    justify-content: center;
    cursor: pointer;
}

.ok{
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 2px;
}

.option{
    cursor: pointer;
}
.option1{
    padding-left: 8px;
}

.repsStats{
    display: flex;
    margin-top: 40px;
    max-width: max-content;
    background-color: rgb(157, 155, 155);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: inset 1px 3px 3px rgb(107, 107, 107);
}

.repsStatsName{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}